# echo -e "\e[31mWelcome to Chat\e[0m"
# export CHAT_COLOR=$(( $RANDOM * 6 / 32767 + 1 ))
# tail -F /tmp/pipe &
# while IFS= read -s -r -n1 -d '' c; do printf %s\\n "$c"; done | 
# gawk '
# BEGIN{
# for(n=0;n<256;n++)
# ord[sprintf("%c",n)]=n
# }
# BEGIN {
# cmd = "echo -e \"\\e[3" ENVIRON["CHAT_COLOR"] "m\"";
# cmd | getline chat_color;
# close(cmd);
# cmd = "echo -e \"\\e[0m\"";
# cmd | getline reset;
# close(cmd);
# }
# {
# printf "%s",$0 ; line = line $0; 
# #print "-" ord[$0] "-"
# if ($0=="" && line !="") got(line) 
# if ($0=="\004") { line = ""; print ""}
# if ($0=="\008" || ord[$0]==127) { 
# line = substr(line,1,length(line)-2); 
# system("tput cub 1")
# system("tput ech 1")}
# }
# function got(v){
# system("tput cub 100")
# printf "[" chat_color ENVIRON["LOGNAME"] reset "] : " >> "/tmp/pipe"
# split(line,chars,"")
# for (i=1;i<=length(line) && ord[chars[i]]>=32;i++){
#    printf chars[i] >> "/tmp/pipe"
# }
# print "" >> "/tmp/pipe"
# fflush("/tmp/pipe")
# line=""
# }'
# exit
# printf %s "$SSH_ORIGINAL_COMMAND" | awk '{print $1 + $2}'

Protocol 2
PermitRootLogin without-password
PasswordAuthentication no 
PermitEmptyPasswords no
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
#PermitTTY no
AllowTcpForwarding no
UseDNS no
Port 1234

Match User *
    AuthorizedKeysCommandUser nobody
    AuthorizedKeysCommand /bin/echo 'restrict,pty %t %k'

    ForceCommand awk 'BEGIN{a=PROCINFO["ppid"] ; for(i=1;i<=3;i++){ ("ps h -fp " a) | getline pid ; $0=pid; a=$3 } ; while ((("cat /proc/" a "/cmdline") | getline d) > 0){FS="\0| " ; $0=d }; $0=$0 ; for(i=1;i<=NF && $i != "-f" ;i++){} ; file=$(i+1) ; hash=sprintf("%c",35); while(((getline line < file) > 0) && substr(line,1,1) == hash ){ line = substr(line,3,length(line)-2) ; prog = prog "\n" line ; } ; system(prog); exit }'

# live-reload: 
# ls poly.config | entr bash -c "sudo /usr/sbin/sshd -d -f ./poly.config -D & sleep 0.4 ; ssh user@localhost -p1234 -oConnectTimeout=1 -t 3 4"
#
# Run:
# sudo /usr/sbin/sshd -D -f ~/inject/poly.config
